$black: #232323;
$shop-style: #f70010;
$shop-style-opacity: rgba(252, 3, 3,0.5);
$gray-line: #f6f6f6;
$style-shadow: 9px 3px 7px 0px rgba(231, 72, 47, 0.31);
$green: #04ff00;

$container-width: 90%;

$duration: 0.15s;